.disable_block{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;    height: 100%;
}
.drawer{
    position: absolute;
    height: 100%;
    z-index: 2;
    right: 0;
    width: 600px;
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.drawer>.content_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.content_drawer{
    padding: 0 20px 20px;
    flex-grow: 1;
    overflow: auto;
    height: 82%;
}
.footer_drawer {
    background: #f7f7fa;
    padding: 10px 20px;
    height: 40px;
    justify-content: flex-end;
    align-items: center;

}
.footer_drawer button{
    float: right;

}
