@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
body {
  margin: 0;
    font-family: 'Roboto', 'PT Sans', Helvetica, Arial, sans-serif;
    height: 100vh;
    background: white;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    letter-spacing: .24px;
}
.stat{
    display: inline-block;
    box-shadow: 4px 4px 20px rgba(44, 57, 121, .09);
    padding: 10px;
    width: 400px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.content_stat>div{
    display: inline-block;
    align-items: baseline;
    margin-top: 5px;
}
.content_stat>div:last-child{
    float: right;
}
.crop {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}
*{
    font-family: 'Roboto', 'PT Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    letter-spacing: .24px;
    font-size: 14px;

}
#app{
    margin-bottom: 30px;
}
.filter_on{
    display: block;
    width: 10px;
    height: 10px;
    background: #ff0000;
    border-radius: 100%;
    top: 18px;
    margin-left: 5px;
    z-index: 1;
    position: absolute;
}
.close{
    cursor: pointer;
    float: right;
}
.name_chart{
    width: max-content;
    margin: 20px auto;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #898993;
}
body .overlay {
  position: absolute;
    width: calc(100% - 60px);
    height:fit-content;
    display: inline-block;

}
.objectContent
{
    min-height: 560px;
}
.block-content
{
    display: inline-block;
    padding: 20px 0;
    width: calc((100% - 109px)/3 );
    vertical-align:top;

}
.map_table{
    display: block;
}
#objects{
    width: 65%;
    display: inline-block;
    vertical-align:top;
}
.fixed {
    height:100% !important ;
    position:fixed !important;
    margin-top: 0 !important;
    top:0;
    width: 32.9% !important;
}
table,#list_map{
    border-radius: 3px;
}
#list_map{vertical-align:top;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    height: 90vh;
    width: 34%;
    position: absolute;
    right: 0;
}

.block-content:nth-child(even)
 {
    margin:  0 50px 0 50px;
 }
.returntoback
{
    box-sizing: border-box;
    width: fit-content;
    height: 30px;
    line-height: 38px;
    display: inline-block;
}

a{
    color: #1a3a5e;
}
.dark-icon{
    color: #1a3a5e;
}
a
{
    text-decoration: none;
}
a:visited { text-decoration: none; color: #1a3a5e;}
a:active { text-decoration: none; color: #1a3a5e;}
.pageSeparator
{
    width: 100%;
    border-bottom: 1px solid #eeeff5;
}

.overlay-header{
  width: calc(100% - 40px);
    padding: 7px 10px 7px 30px;
    height: 40px;
    box-shadow: 0 4px 20px rgba(44, 57, 121, .09);
}

.overlay-header>div{
   display: inline-block;
}
.textInput
{
    box-sizing: border-box;
    width: 350px;
    border: 1px solid #bac2ce;
    border-radius: 4px;
    margin-bottom: 30px;

}

.search {
    box-sizing: border-box;
    width: 350px;
    border: 1px solid #bac2ce;
    border-radius: 4px;
    height: 37px;
    padding: 1px 0;
}
.search>.search_box, .textInput .form {
    box-sizing: border-box;
    position: relative;

}

[contentEditable=true]:empty:not(:focus)::before{
    content:attr(placeholder);
    color:grey;
}
.textInput[placeholder]:empty:focus::before {
    content: "";
}

.textInput .button {
    border: none;
    outline: none;
    background: none;
    width: 20px;
    position: absolute;
    bottom: 0;
    right:  5px;
    background: white;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;

}
.collection_block:first-child{
    padding-top: 30px;
}
.collection_block{
    width: 100%;
    padding: 0 0 15px 0;
}
.collection_block p{
    margin: 5px 0;
}
.collection_block >.card{
    padding: 10px;
    display: inline-block;
    width: 15%;
    height: 400px;
    margin: 0 20px 30px 0;
    background: ghostwhite;
}
.textInput .fas
{
    font-size: 20px;
}
.textInput .button:hover{
    background: #fff9db;
}
.Modal {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: rgba(0,0,0,0.7);

}

.Modal:target {
    display: flex;
    pointer-events: auto;
}
.Modal_Body {
    position: relative;
    z-index: 4;
    display: block;
    margin: 10% auto;
    padding: 15px;
    background: #FFF;
    width: 350px;
    height: 120px;

}
.ModalFull {
    position: absolute;
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
}



#set_date{
    letter-spacing: .5px;
    line-height: 20px;
    color: #1a3a5e;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}
.client{
    font-size: 16px;
    line-height: 20px;
    color: #1a3a5e;
    font-weight: 500;
    margin-top: 20px;
}
.search input, .search button {
    border: none;
    outline: none;
    border-radius: 3px;
    height: 32px;
}
.notif{
    z-index: 2;
    border-radius: 3px;
    width: 150px;
    height: 20px;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    position: fixed;
    top: 0;
    background: gold;
    right: 0;
    display: none;
}
.noback{
    background: none;
}
.noback:hover{
     background: rgba(252, 252, 252, 0.68);
 }
.bottom_bar>.select{
    width: max-content;
    display: inline-block;
    width: max-content;
    position: absolute;
    bottom: 15px;
    left: 16%;
}
.bottom_bar>.select>ul{
background: white;
}
.bottom_bar{
    position: fixed;
    width: calc(100% - 120px);
    z-index: 5;
    background: #f1f6fa;
    bottom: 0;
    padding: 10px 30px;
    display: inline-flex;
}
.map_block{
    z-index: 1;
    display: inline-flex;
}
.image_map{
    width:   100px;
    height:  100px;
    display: inline-block;
    margin-right: 10px;
}

.image_map img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}
.textInput .input-block  {
    outline: none;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
    border: none;
    width: -webkit-fill-available;
    overflow: hidden;
}
.search input  {
    outline: none;
    background: #fff;
    padding: 0 0 0 15px;
    width: -webkit-fill-available;
}
.search button {
    width: 35px;
    position: absolute;
    top: 0px;
    right:  0;
    background: white;
    cursor: pointer;
    padding: 5px;

}
.search:hover, .textInput:hover {
    border: 1px solid #fc0;
    border-radius: 4px;
}

.fas {
    color: #1a3a5e;
    font-weight: bold;
}

.info{
    display: inline-flex;
    font-style: oblique;
    color: #6c757d;
    margin-bottom: 20px;
}

.container {
  height: 100vh;
}

h1 {
  position: fixed;
  bottom: -7px;
  right: 93px;
  color: #ffffff;
  font-size: 34px;
}

.main-menu{
    width: 60px;
    display: inline-block;
    top: 0px;
}
.container-header {
    width: -webkit-fill-available;
    top: 0px;
    position: fixed;
  width: 60px;
  height: 100%;
  background: #1a3a5e;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}
.container-header .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 40px;
  height: 40px;
  background-color: #198ada;
  border-radius: 50%;
  display: none;
}
.container-header .btn-close:before {
  content: "";
  position: absolute;
  display: block;
  top: -20px;
  right: -20px;
  width: 90px;
  height: 80px;
}
.container-header .btn-close .icon-item {
  display: block;
  width: 23px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  right: 9px;

}
.container-header .btn-close .icon-item:nth-child(2) {
  top: 19px;
}
.container-header .btn-close .icon-item:nth-child(3) {
  top: 25px;
}
.container-header a {
  color: black;

}
.container-header .logo {
  cursor: pointer;
  position: relative;
  display: block;
  height: 60px;
  background: #1a3a5e;
}

.container-header .logo .box-icon-logo .icon {
  width:100%;
  opacity: 0.8;
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
}

.container-header .menu-item  a {
text-decoration: none;
  color: #fff;
}
.container-header .menu-item {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 75px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container-header .menu-item .icon {
  width: 25px;
  opacity: 0.7;
    filter: invert(1);
}
.container-header .menu-item .icon:hover {

  opacity: 1;
}
.container-header .menu-item .menu-text {
  position: absolute;
  top: 0;
  left: -170px;
  height: 60px;
  width: 170px;
  background-color: #fc0;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  color: transparent;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
    z-index: 3;
}
.container-header .menu-item:hover {
  background: #163252;
    z-index: 3;
}
.container-header .menu-item:hover .icon {
  fill: #fff;
    z-index: 3;
}
.container-header .menu-item:hover .menu-text {
  color: black;
  left: 60px;
}
.container-header .menu-item:focus {
  color: #fc0;
}
.container-header .item.active .menu-item {
  background: #fc0;
}
.container-header .item.active .menu-item .icon {
  fill: #fff;
}

.logout{

}
.content{

  padding: 0 30px ;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
    width: calc(100% - 60px);
}



table {
    margin-bottom: 20px;
    border-collapse: collapse;
    color: black;
    width:100%;
    margin-top:20px;
}
.separatorTitle{
    text-transform:uppercase;
    display: inline-block;
    color: #373745;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .15px;
    align-items: center;
    vertical-align:auto;
}
caption {
  padding: 10px;
  color: white;
  background: #8FD4C1;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
th {
  padding: 10px;
  text-align: left;

}
td {
    border-bottom: 0.5px solid #d4cfbd;
    padding: 10px;
    max-width: 200px;
    vertical-align: top;
}
tr:nth-child(odd) {
 background: white;

}
tr:nth-child(even) {
    background: #5d90bb12;
}
thead>tr{
    background: #5d90bb12 !important;
}
.block_right {
    right: 0;
    padding: 30px;
    width: 25%;
    display: block;
    float: right;
}
.upload .btn-tertiary{color:black;padding:0;line-height:40px;width:auto;margin:auto;display:block;border:2px solid #1a3a5e}
.upload .btn-tertiary:hover,.upload .btn-tertiary:focus{color:black;border-color:#fc0}
.upload .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1;    }
.upload .input-file + .js-labelFile{margin-top: 20px;margin-bottom: 20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer;    text-align: center;}
.upload .input-file + .js-labelFile .icon:before{content:"\f093"}
.upload .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}

.chips{
    background: #eeeff5;
    display: inline-block;
    border-radius: 40px;
    height: 20px;
    padding: 0 4px;
    font-size: 12px;
    text-align: center;
    margin-left: 16px;
    margin-right: 8px;
    line-height: 18px;
    width: max-content;
}
h3{
    line-height: 24px;
    letter-spacing: .24px;
    margin:0;
    margin-bottom: 5px;
}
.b2{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.25px;
    color: #898993;
    margin-bottom: 12px;
}
.stage {
    display: inline-block;
    height: 20px;
    letter-spacing: 1.25px;
    padding: 0 4px;
    font-size: 12px;
    text-align: center;
    margin-left: 16px;
    margin-right: 8px;
    line-height: 18px;
}
.point{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.item_bc_ob{
    height:auto;
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
}
.item_address
{
    font-weight: 600;
letter-spacing: .25px;
color: #505c98;
display: flex;
margin-bottom: 4px;}
.item_price{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .24px;
    height: 24px;
}

.header_navbar{
    display: inline-block;
    float: right;
    height: 30px;
    font-size: 14px;
    min-width: 0;
    min-height: 36px;
    color: #2c3979;
    font-size: 14px;
    font-weight: 500;
}
.header_navbar>.item{
    display: inline-block;
    margin-right: 10px;
}
.header_navbar>.item>.fas{
    margin-right: 10px;
}
b{
    font-weight: 500;
}
.light:hover{

    background: whitesmoke;
}
.light{
    background: white;
}
.light:active{
    background: #bac2ce; /* Старые браузеры */
    background: radial-gradient(floralwhite, ghostwhite);
}
.light:disabled{
    opacity: 0.5;
    background: none;
}
.header_navbar>.item>.true{
  color:red;
}
.seporator_item{
    display: inline-flex;
    right: 0;
}
.content_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
}
.dark{
    background: #1a3a5e;
    color: white;
}

.dark:hover {
    background: #495f8e;
}
.dark:active{
    background: #3b5998; /* Старые браузеры */
    background: radial-gradient(#495f8e, #2b2c5a);
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: 500;
    min-width: 50px;
}
.dark{
    background: #1a3a5e;
    color: white;
}
.dark:disabled {
    opacity: 0.5;
    background: #495f8e;
}
.req{
    color:red !important;
    margin-left: 3px;
    margin-right: 3px;
}
.disabled {
    pointer-events:none;
    opacity:0.6;
}
.item_pagination{
    width: 20px;
    height: 20px;
    border: 1px solid #fc0;
    padding:  5px 10px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    right: 0;
    font-size: 20px;
    color: #fc0;
    margin-left: 10px;
    cursor: pointer;
}
.pagination{
    width: max-content;
    float: right;
    font-size: 16px;
    height: min-content;
}
.pagination>span{
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    height: 5px;
    display: inline-block;
    padding: 10px 0;
}
