@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400";

.tabs {
    color: #333;
    padding-top: 10px;
}
.tabs span{
    display: inline-block;
    width: auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -7px;
    font-weight: 500;
    margin-left: -1px;
    margin-right: -1px;
}
.active{
    border-bottom: 1.5px solid gold;
    padding-bottom: 8.5px !important;

}
.tabs span:hover{
background: ghostwhite;
}
