.comment-header
{
    width: max-content;
}

.comment-user
{    font-weight: 700;
    line-height: normal;
    font-size: 14px;
    color: #373745;
    display: inline-block;
    margin-right: 5px;
}
.comment-date
{margin-right: 30px;
display: inline-block;
font-size: 14px;
color: #898993;
}
.comment-content{
color: #373745;
line-height: 20px;
font-size: 14px;
display: block;
margin-top: 4px;
word-wrap: break-word;
    width: max-content;
}
.comment
{
    margin-bottom: 15px;
}
