input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.field-title,.input-title_inline{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #898993;
    margin-bottom: 4px;
}
.field-show{
    width: auto;
    margin: 10px 0;
}

.input_inline_block{
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    padding: 10px 0;
    justify-content: left ;
}
.input-title_inline{
    display: inline-flex;
    width: 165px;
    margin-right:20px ;
    font-weight: 500;
}
.input_inline{
    display: inline-flex;

}
textarea{
    resize: none;
}
.suggestions-input{
    width: 62% !important;
}
.input_inline_block > input[type="text"], .field-show> input[type="text"],
input[type="datetime-local"],input[type="password"], input[type="number"], input[type="date"], textarea {
    border:none;
    border-bottom: 1.25px solid rgba(56, 109, 187, 0.42);
    outline: none;
    width: 350px;
    padding:5px 3px;

}
.input_inline_block > input[type="text"]:hover,textarea:hover,.field-show> input[type="text"]:hover{
    border-bottom: 1.25px solid #2862a5;
}
.bspace{
    margin-right: 20px;
}
#new_client{
    padding:0 30px 0px 30px;
}



input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #fc0;
    border-bottom: 4px solid #fc0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fc0;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
    opacity: 1;
}
h2{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .24px;
    font-weight: 500;
    margin: 5px 0;
}




.suggestions-input
{
    box-sizing: content-box !important;
}


li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.select-wrap select {
    margin: 20px;
}

.select__gap {
    border:none;
    border-bottom: 1.25px solid rgba(56, 109, 187, 0.42);
    outline: none;
    width: 350px;
    padding:5px 3px;
    cursor: pointer;
    position: relative;
}

.on.select__gap,
.select__gap:hover {
    border-bottom: 1.25px solid #2862a5;
}

.select__list {
    background: transparent;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    margin: 0px 0;
}

.select__list.on {
    display: block;
}

.select__item span {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
}

.select__item.selected,
.select__item span:hover {
    background: #efefef;
}

.suggestions-suggestions{
    border: none !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16)  !important;
}

