.image{
    display: inline-block;
    width:   250px;   /* 50% */
    float:   left;
    height:  250px;
    margin: 0 33px 60px 0;
    position: relative;
}
.image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}
.media_content
{
    display: block;
    padding: 30px 0;
}
.media
{
    width: 70%;
    display: inline-block;
}

.label_media{
    background: #fc0;
    font-size: 14px;

    position: absolute;
    top: 10px;
    left: -10px;
    z-index: 10;
}
