@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }
body { background: #f5f5f5; font-family: 'Lato', sans-serif; }

header {
    text-transform: uppercase; letter-spacing: 1px;
    text-align: justify;
    height: 4em;
    padding: 0.2em 5%;
    background: #ce2029;
    color: #fff;
}

header::after {
    content: '';
    display: inline-block;
    width: 80%;
}

header > div,
header > div::before,
header nav,
header > div h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.ls {
    vertical-align: middle;
    text-align: left;
    font-size: 12pt;
}
.ls:hover{
     cursor: pointer;
 }
header > div:not(.ls) {
    height: 100%;
}

header > div::before:not(.ls)  {
    content: '';
    height: 100%;
}

header > h1 {
    font-size: 2em;
    font-style: italic;
}

header nav a {
    width: 10px;
    padding: 0.3em 0.6em;
    white-space: nowrap;
    border-radius: 3px;
    }
header nav a:hover{
    background-color: #e0434b;
    cursor: pointer;
}

header nav a:active{
    background: linear-gradient(#ce2029, #ce2029,#e0434b);

}

@media screen and (max-width: 720px){

    header {
        height: auto;
    }

    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }

}